* {
    margin: 0;
    padding: 0;
    background-color: #fcfbf2;
}

body {
    font-family: "Playfair Display", sans-serif;
}


.navbar {
   display: flex;
    justify-content: space-between;
    align-items: center;
   border-bottom: 1px solid #e0e0e0;
}
 .nav-right {
    display: flex;
    gap: 20px;
    margin: 20px;
}
.nav-left {
    margin: 20px;
}