* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "Playfair Display", sans-serif;
    background-color: #fcfbf2;
}

 /*Navbar styles*/
.navbar {
   display: flex;
    justify-content: space-between;
    align-items: center;
   border-bottom: 1px solid #e0e0e0;
}
 .nav-right {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.nav-right a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
.nav-left {
    margin: 20px;
}

/* Hero section styles */

.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: url('images/fika.png');
    background-size: cover;
    background-position: center;

}


/* Add overlay */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}


.hero-content {
    position: relative;
    z-index: 2;
    color: #fff; 
}

.hero-content h2 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
}


/* Menu section styles */

.menu-preview {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 120px;
}

.menu-preview h2 {
    font-size: 36px;
    margin-bottom: 50px;
    color: #3b3b3b;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.menu-item {
    background-color: #f2e6d8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #e2d3c3
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}


/* about section styles */

.about {
    padding: 100px 20px;
    background-color: #f5efea;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.about img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #3b3b3b;
}

.about-text p {
    line-height: 1.6;
    color: #4a4a4a;
    margin-bottom: 15px;
}