* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "Playfair Display", sans-serif;
    background-color: #fcfbf2;
}

 /*Navbar styles*/
.navbar {
   display: flex;
    justify-content: space-between;
    align-items: center;
   border-bottom: 1px solid #e0e0e0;
}
 .nav-right {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.nav-right a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
.nav-left {
    margin: 20px;
}

/* Hero section styles */
.hero {
    height: 70vh;
}